<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ character.name }} | CharacterCraft</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'navigation.html' %}

     <div id="character-container">
      <h1 id="character-name">{{ character.name }}</h1>
      <div id="character-details">
        <div id="character-detail-block">
          <h2>Gender:</h2>
          <p>{{ character.gender }}</p>
        </div>
        <div id="character-detail-block">
          <h2>Age:</h2>
          <p>{{ character.age }}</p>
        </div>
        <div id="character-detail-block">
          <h2>Occupation:</h2>
          <p>{{ character.occupation }}</p>
        </div>
        <div id="character-detail-block">
          <h2>Height:</h2>
          <p>{{ character.height }}</p>
        </div>
        <div id="character-detail-block">
          <h2>Hair Color:</h2>
          <p>{{ character.hair_color }}</p>
        </div>
        <div id="character-detail-block">
          <h2>Eye Color:</h2>
          <p>{{ character.eye_color }}</p>
        </div>
        <div id="character-detail-block">
          <h2>Weight:</h2>
          <p>{{ character.weight }}</p>
        </div>
        <div id="character-detail-block">
          <h2>Location:</h2>
          <p>{{ character.location }}</p>
        </div>
      </div>
      <div id="character-description">
        <h2>Description:</h2>
        <p>{{ character.desc}}</p>
      </div>
    </div>
</body>
</html>