<!DOCTYPE html>
<html lang="en">
<head>
    <title>Characters | CharacterCraft</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'navigation.html' %}


    <h1>Characters</h1>

    {% if message %}
    <h2>
        Generate some characters! <a href="{{ url_for('generator')}}">Generator</a>
    </h2>
    {% endif %}
    <ul>
        {% for character in characters %}
	<li><a href="{{ url_for('character', id=character.id) }}">{{ character.name }} - {{ character.occupation }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
